@-webkit-keyframes shake {
  10%, 90% {
    transform: translate3d(-2px, 0, 0); }
  20%, 80% {
    transform: translate3d(4px, 0, 0); }
  30%, 50%, 70% {
    transform: translate3d(-8px, 0, 0); }
  40%, 60% {
    transform: translate3d(8px, 0, 0); } }

@-moz-keyframes shake {
  10%, 90% {
    transform: translate3d(-2px, 0, 0); }
  20%, 80% {
    transform: translate3d(4px, 0, 0); }
  30%, 50%, 70% {
    transform: translate3d(-8px, 0, 0); }
  40%, 60% {
    transform: translate3d(8px, 0, 0); } }

@-ms-keyframes shake {
  10%, 90% {
    transform: translate3d(-2px, 0, 0); }
  20%, 80% {
    transform: translate3d(4px, 0, 0); }
  30%, 50%, 70% {
    transform: translate3d(-8px, 0, 0); }
  40%, 60% {
    transform: translate3d(8px, 0, 0); } }

@keyframes shake {
  10%, 90% {
    transform: translate3d(-2px, 0, 0); }
  20%, 80% {
    transform: translate3d(4px, 0, 0); }
  30%, 50%, 70% {
    transform: translate3d(-8px, 0, 0); }
  40%, 60% {
    transform: translate3d(8px, 0, 0); } }

.sentence {
  margin-top: 50px;
  position: relative;
  transition: all 0.05s ease;
  text-align: center;
  font-size: 20px; }
  .sentence b {
    transition: all 0.05s ease;
    font-size: 30px; }

#option {
  width: 120px;
  height: 40px;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  transition: all 0.05s ease; }
  #option:focus {
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
      border-bottom-box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.4); }

.shaky {
  color: #f44336;
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0); }
  .shaky b {
    color: #f44336; }
  .shaky i {
    background-color: #f44336; }

.wrong_answer {
  display: none; }
  .wrong_answer h5 {
    font-weight: lighter; }

#definition {
  transition: all 0.2s ease; }
  #definition h5 {
    font-weight: lighter; }

.repetition_status {
  font-size: 20px; }

audio {
  display: none; }

.transcript {
  text-align: center; }

.sentence--success {
  color: #4caf50; }
  .sentence--success b {
    color: #4caf50; }

.prep--missed {
  color: red;
  text-decoration: line-through; }

.definition--success .card-content {
  background: #4caf50; }
