@-webkit-keyframes shake {
  10%, 90% {
    transform: translate3d(-2px, 0, 0); }
  20%, 80% {
    transform: translate3d(4px, 0, 0); }
  30%, 50%, 70% {
    transform: translate3d(-8px, 0, 0); }
  40%, 60% {
    transform: translate3d(8px, 0, 0); } }

@-moz-keyframes shake {
  10%, 90% {
    transform: translate3d(-2px, 0, 0); }
  20%, 80% {
    transform: translate3d(4px, 0, 0); }
  30%, 50%, 70% {
    transform: translate3d(-8px, 0, 0); }
  40%, 60% {
    transform: translate3d(8px, 0, 0); } }

@-ms-keyframes shake {
  10%, 90% {
    transform: translate3d(-2px, 0, 0); }
  20%, 80% {
    transform: translate3d(4px, 0, 0); }
  30%, 50%, 70% {
    transform: translate3d(-8px, 0, 0); }
  40%, 60% {
    transform: translate3d(8px, 0, 0); } }

@keyframes shake {
  10%, 90% {
    transform: translate3d(-2px, 0, 0); }
  20%, 80% {
    transform: translate3d(4px, 0, 0); }
  30%, 50%, 70% {
    transform: translate3d(-8px, 0, 0); }
  40%, 60% {
    transform: translate3d(8px, 0, 0); } }

.grasp--1 {
  color: #D22828 !important; }

.grasp--2 {
  color: #D23328 !important; }

.grasp--3 {
  color: #D24A28 !important; }

.grasp--4 {
  color: #D25528 !important; }

.grasp--5 {
  color: #D26028 !important; }

.grasp--6 {
  color: #D26C28 !important; }

.grasp--7 {
  color: #D27728 !important; }

.grasp--8 {
  color: #D28228 !important; }

.grasp--9 {
  color: #D28E28 !important; }

.grasp--10 {
  color: #D29928 !important; }

.grasp--11 {
  color: #D2A428 !important; }

.grasp--12 {
  color: #D2B028 !important; }

.grasp--13 {
  color: #D2C628 !important; }

.grasp--14 {
  color: #D2D228 !important; }

.grasp--15 {
  color: #C6D228 !important; }

.grasp--16 {
  color: #BBD228 !important; }

.grasp--17 {
  color: #B0D228 !important; }

.grasp--18 {
  color: #A4D228 !important; }

.grasp--19 {
  color: #99D228 !important; }

.grasp--20 {
  color: #8ED228 !important; }

.grasp--21 {
  color: #82D228 !important; }

.grasp--22 {
  color: #77D228 !important; }

.grasp--23 {
  color: #6BD228 !important; }

.grasp--24 {
  color: #60D228 !important; }

.grasp--25 {
  color: #55D228 !important; }

.grasp--26 {
  color: #4AD228 !important; }

.grasp--27 {
  color: #3ED228 !important; }

.grasp--28 {
  color: #33D228 !important; }

.grasp--29 {
  color: #28D228 !important; }

.grasp--25 {
  color: #55D228 !important; }

.assignment u {
  display: inline-block;
  margin-bottom: 10px; }

.assignment b {
  padding: 0 10px;
  font-size: 20px; }

.sentence {
  margin-top: 50px;
  position: relative;
  transition: all 0.05s ease;
  text-align: center;
  padding: 0 10px;
  font-size: 40px; }
  .sentence span {
    display: inline-block;
    width: 100%; }
  .sentence b {
    transition: all 0.05s ease;
    font-size: 30px; }

#option {
  width: 50%;
  height: 40px;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  transition: all 0.05s ease; }
  #option:focus {
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
      border-bottom-box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.4); }

.shaky {
  color: #f44336;
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0); }
  .shaky b {
    color: #f44336; }
  .shaky i {
    background-color: #f44336; }

.wrong_answer {
  display: none; }
  .wrong_answer h5 {
    font-weight: lighter; }

#definition {
  transition: all 0.2s ease; }
  #definition h5 {
    font-weight: lighter; }

.repetition_status {
  font-size: 20px; }

audio {
  display: none; }

.transcript {
  text-align: center; }

.sentence--success {
  color: #4caf50; }
  .sentence--success b {
    color: #4caf50; }

.prep--missed {
  color: red;
  text-decoration: line-through; }

.definition--success .card-content {
  background: #4caf50; }
