=keyframes($name)
  @-webkit-keyframes #{$name}
    @content
  @-moz-keyframes #{$name}
    @content
  @-ms-keyframes #{$name}
    @content
  @keyframes #{$name}
    @content

+keyframes(shake)
	10%, 90% 
		transform: translate3d(-2px, 0, 0)
	20%, 80% 
		transform: translate3d(4px, 0, 0)
	30%, 50%, 70% 
		transform: translate3d(-8px, 0, 0)
	40%, 60% 
		transform: translate3d(8px, 0, 0)

$grasp-colors: #D22828 #D23328 #D24A28 #D25528 #D26028 #D26C28 #D27728 #D28228 #D28E28 #D29928 #D2A428 #D2B028 #D2C628 #D2D228 #C6D228 #BBD228 #B0D228 #A4D228 #99D228 #8ED228 #82D228 #77D228 #6BD228 #60D228 #55D228 #4AD228 #3ED228 #33D228 #28D228 #55D228

// Grasp color level set LOOP
@each $grasp-color in $grasp-colors 
	$i: index($grasp-colors, $grasp-color)
	.grasp--#{$i} 
		color: $grasp-color

html
	color: #616161 !important

.assignment
	u
		display: inline-block
		margin-bottom: 10px
	b
		padding: 0 10px
		font-size: 20px
	.btn-large
		margin-top: 10px;

.sentence
	margin-top: 5px
	position: relative
	transition: all 0.05s ease
	text-align: center
	padding: 0 10px
	font-size: 40px
	span
		display: inline-block
		width: 100%
	b 
		transition: all 0.05s ease
		font-size: 30px

#option
	width: 50%
	height: 40px
	font-size: 30px
	font-weight: bold
	text-align: center
	transition: all 0.05s ease
	&:focus 
		border-bottom: 1px solid rgba(0,0,0,0.4)
    	box-shadow: 0 1px 0 0 rgba(0,0,0,0.4)

.commonPhrasesInput 
	width: 100%

.shaky
	color: #f44336 !important
	animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both
	transform: translate3d(0, 0, 0)	
	b
		color: #f44336
	i
		background-color: #f44336

.wrong_answer
	display: none
	h5
		font-weight: lighter
#definition
	transition: all 0.2s ease
	h5
		font-weight: lighter

.repetition_status
	font-size: 20px

audio 
	display: none

.transcript
	text-align: center

.sentence--success
	color: #4caf50 !important
	b 
		color: #4caf50 !important

.prep--missed 
	color: red
	text-decoration: line-through

.definition--success 
	.card-content 
		background: #4caf50

#new_icon 
	margin-top: 20px;
	position: relative
	left: 50%
	transform: translate(-50%);
	-webkit-transform: translate(-50%);
